<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
Options -MultiViews
    </IfModule>

    RewriteEngine On
RewriteEngine On 
RewriteCond %{HTTP_HOST} ^inesports\.lt [NC]
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://inesports.lt/$1 [R,L]

    # Redirect Trailing Slashes...
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
    RewriteRule ^ index.php [L]

</IfModule>
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]


<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
<Files ~ "\.(jpg|jpeg|png|gif)$">
   order deny,allow
   allow from all
</Files>
order deny,allow
deny from all
allow from 84.55.6.6
allow from 84.203.14.72
allow from 77.219.144.23
allow from 94.244.109.5
</IfModule>
